// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
// Variables
@import 'variables';


@import "~tui-calendar/dist/tui-calendar.css";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.bg-main{
    background-color: #E5967D;
}
body{
    background-color: aliceblue;
}
main{
    min-height: 60vh;
}
.auth {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: $orange;
    background-image: url(../img/auth.png);
    background-size: cover;
    background-position: center;

    input {
        border: none;
    }
}


.record-view-card {
    border: none !important;
    &:hover {
        background-color: $cyan;

        animation: bounce 1s forwards 0s linear;
    }
}

@keyframes bounce {
    0% {

        transform: rotate(00) translateY(0%);
    }

    50% {
        transform: rotate(00) translateY(2%);
    }

    100% {

        transform: rotate(00) translateY(0%);
    }
}
